.authentication {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #ffffff;
    background: linear-gradient(to right, #e96443, #904e95);
}

.branding-lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 3rem 0;
}

LogoLight {
    max-height: 100%;
    opacity: 0.45;
}

svg {
    margin-right: 0.5rem;
}

h2 {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
}

h4 {
    margin: 0;
}

.authentication>button {
    margin: 1rem 0 4rem 0;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 0.75rem;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.45);
    padding: 2rem 0 2rem 0;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem 0 3rem;
}

.auth-form .form {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-width: 420px;
    margin: 1rem 0 1rem 0;
}

.auth-form .labels {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.auth-form label {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
}

.auth-form .input {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.auth-form input {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background: none;
    border-style: none;
    border-bottom: 0.0125rem solid white;
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.auth-form .errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.75rem;
}

.auth-form .submit {
    display: block;
    background-color: #bc596c;
    border-style: none;
    border-radius: 2px;
    font-weight: 100;
    font-size: 1rem;
    color: #ffffff;
    padding: 0.25rem 2rem;
}

.auth-form input:focus {
    outline: none;
}